<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>login</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>

<body>
  <!-- messages -->
  {% for message in messages %}
  <div class="alert alert-{{message.tags}} alert-dismissible fade show mx-0 mb-0" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  <!-- form -->
  <form method="POST">
    {% csrf_token %}
    <div class="m-5">
      <label for="exampleInputEmail1" class="form-label">username</label>
      <input type="text" class="form-control" id="username" name="username">
    </div>
    <div class="m-5">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="password">
    </div>
    <button type="submit" class="btn btn-primary mx-5">login</button>
  </form>
  <h6>
    </style>
    <center>if you don'n have an account click here to create:</center>
  </h6>
  <div class="mx-auto p-2" style="width: 200px;">
    <a class="btn btn-success mx-5" href="{% url 'signup' %}" role="button">signup</a>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
</body>

</html>